body {
  background: #fcf8f3;
  font-family: "Poppins", sans-serif;
  margin-left: 400px;
  margin-right: 400px;
}
footer {
  text-align: center;
}
ul {
  display: block;
  list-style: none;
}
#search-button {
  margin-right: 5px;
}
