body {
  background: #fcf8f3;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
footer {
  text-align: center;
}
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#search-button {
  margin-right: 5px;
}
