body {
  background: #fcf8f3;
  font-family: "Poppins", sans-serif;
}
footer {
  text-align: center;
}
ul {
  display: block;
  list-style: none;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
#search-button {
  margin-right: 5px;
}
